{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

    <style>
        .stylingselect1 select {
            width: 135px;
            font-size: 18px;
            margin: 0px 0px 1px 0px;
            background: #EEEEEE;
        }
        .stylingselect2 input {
            width: 135px;
            font-size: 18px;
            margin: 1px 0px 0px 0px;
              font-family: "Roboto", sans-serif;
              outline: 0;
              background: #EEEEEE;
              color: black;
              padding: 4px;
              box-sizing: border-box;
              font-size: 16px;
        }

        .labels123 {
        width: 150px;
        text-align: right;
        margin-right: 6px;
        font-size: 25px;

        }

    </style>


    <div style=" display: flex;">


    <div style=" display: flex; margin-left:auto; margin-right: auto;">
        <div style="width: 160px;">
            <div class="labels123">Konsert navn:</div></br>
            <hr>
            <div class="labels123">Sjanger:</div></br>
            <hr>
            <div class="labels123">Dato:</div></br>
            <hr>
            <div class="labels123">Scene:</div></br>
            <hr>
            <div class="labels123">Pris:</div></br>
            <hr>

        </div>


        <div style="text-align: left; width: 160px;">
            <form method="post" class="form">
            {% csrf_token %}

            <div class="stylingselect2" style="height: 29px;"> {{ booking_form.name }}  </div></br><hr>

            <div class="stylingselect1"  style="margin-bottom: 2px;"> {{ booking_form.genre }} </div></br><hr>
            <div class="stylingselect2"  style="height: 29px;"> {{ booking_form.date }}  </div></br><hr>
            <div class="stylingselect1" style="margin-bottom: 2px;"> {{ booking_form.scene }} </div></br><hr>
            <div class="stylingselect2" style="height: 29px;"> {{ booking_form.price }} </div></br><hr>
            <div class="stylingselect2 "> <input type="submit" value="Registrer konsert"> </div>

            </form>
        </div>
    </div>
    </div>

{% endblock %}
