{% extends 'base.html' %}

{% block content %}

    {% for band in bands %}
        {% if not band.is_booking_req_sendt %}

            <li class="concert_element">

                <p>Name: {{ band.name }}</p>
                <p>Manager: {{ band.manager }}</p>
                <p>Number of members: {{ band.members }}</p>
                <p>Light needs: {{ band.light_needs }}</p>
                <p>Sound needs: {{ band.sound_needs }}</p>
                <p>Specific needs: {{ band.specific_needs }}</p>
                <p>Sold albums: {{ band.sold_albums }}</p>
                <p>Number of concerts: {{ band.former_concerts }}</p>
                <p>Popularity: {{ band.popularity }}</p>
                <a href="{% url 'festivalapp:delete_band' pk=band.pk %}" type="button" class="button delete-button">Delete</a>
                <a href="{% url 'festivalapp:booking' pk=band.pk %}" type="button" class="button add-button">Add</a>


            </li>

        {% endif %}
    {% endfor %}
    SET REVIEW
    {% for band in bands %}
        <li class="concert_element">
            <p>Name: {{ band.name }}</p>
            <p>Manager: {{ band.manager }}</p>
            <p>Number of members: {{ band.members }}</p>
            <p>Current review: {{ band.review }}</p>
            <form action="{% url 'festivalapp:add_review' pk=band.pk %}" method="post" id="review-form">
                {% csrf_token %}
                <label for="review">New review here:</label>
                <textarea name="review" id="review" cols="30" rows="10"></textarea>
                <input type="submit" value="Submit">
            </form>
        </li>
    {% endfor %}



{% endblock %}