{% extends 'base.html' %}

{% block content %}

    <div class="">

        <h2>BAND OFFERS</h2>


        <div class="row card-container">
            {% for band in bands %}

                <li class="card gray-card">

                    <p style="font-size: 20px;" :>Band: {{ band.name }}</p>
                    <p><b>Manager:</b> {{ band.manager }}</p>
                    <p><b>Number of members:</b> {{ band.members }}</p>
                    <p><b>Light needs:</b> {{ band.light_needs }}</p>
                    <p><b>Sound needs:</b> {{ band.sound_needs }}</p>
                    <p><b>Specific needs:</b> {{ band.specific_needs }}</p>
                    <p><b>Sold albums:</b> {{ band.sold_albums }}</p>
                    <p><b>Number of concerts:</b> {{ band.former_concerts }}</p>
                    <p><b>Popularity:</b> {{ band.popularity }}</p>
                    <button type="button" class="button" onclick='concert_button({{ forloop.counter }})'>Tilbud
                    </button>
                    <a href="{% url 'festivalapp:booking' pk=band.pk %}" type="button" class="button add-button">Add</a>


                    <div class="modal" id="modal_{{ forloop.counter }}">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span onclick="myFunction({{ forloop.counter }})" class="close">&times;</span>
                            {% for b, cs in concert_requests.items %}
                                {% if b == band.name %}
                                    <p><b>Concert requests for {{ b }}:</b></p>
                                    {% for c in cs %}
                                        <div>
                                            {{ c.name }}
                                            {{ c.date }}
                                            <a href="{% url 'festivalapp:cancel_booking_request' pk=c.pk %}"
                                               type="button"
                                               class="button add-button">Cancel request</a>
                                        </div>
                                        {% empty %}
                                        <p>No requests</p>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>

                </li>

            {% endfor %}
        </div>


    </div>

        <h2>SET REVIEW</h2>
    <div class="row card-container">

        {% for band in bands %}
            <li class="card gray-card">
                <p style="font-size: 20px;" :>Band: {{ band.name }}</p>
                <p><b>Manager:</b> {{ band.manager }}</p>
                <p><b>Number of members:</b> {{ band.members }}</p>
                <p><b>Current review:</b> {{ band.review }}</p>
                <form action="{% url 'festivalapp:add_review' pk=band.pk %}" method="post" id="review-form">
                    {% csrf_token %}
                    <p><label for="review"><b>New review here:</b></label></p>
                    <textarea
                            style="height: 110px; width: 230px; resize: none; background-color: #EFEFEF; border-radius: 8px;"
                            name="review" id="review" cols="30" rows="10"></textarea>
                    </br>
                    <input id="submitreview" type="submit" value="Submit Review">
                </form>
            </li>
        {% endfor %}
    </div>



{% endblock %}
