{% extends 'base.html' %}

{% block content %}

    <h2 style="width: 50%; float: left;">BAND OFFERS</h2>
    <h2 style="width: 50%; float: left;">SET REVIEW</h2>

    <div class="concertcontainer1">
    {% for band in bands %}
        {% if not band.is_booking_req_sendt %}

            <li class="concert_element">

                <p style="font-size: 20px;":>Band: {{ band.name }}</p>
                <p>Manager: {{ band.manager }}</p>
                <p>Number of members: {{ band.members }}</p>
                <p>Light needs: {{ band.light_needs }}</p>
                <p>Sound needs: {{ band.sound_needs }}</p>
                <p>Specific needs: {{ band.specific_needs }}</p>
                <p>Sold albums: {{ band.sold_albums }}</p>
                <p>Number of concerts: {{ band.former_concerts }}</p>
                <p>Popularity: {{ band.popularity }}</p>
                <a href="{% url 'festivalapp:delete_band' pk=band.pk %}" type="button" class="button delete-button">Delete</a>
                <a href="{% url 'festivalapp:booking' pk=band.pk %}" type="button" class="button add-button">Add</a>

            </li>

        {% endif %}
    {% endfor %}
    </div>

    <div class="concertcontainer1">
    {% for band in bands %}
        <li class="concert_element2">
            <p style="font-size: 20px;": >Band: {{ band.name }}</p>
            <p>Manager: {{ band.manager }}</p>
            <p>Number of members: {{ band.members }}</p>
            <p>Current review: {{ band.review }}</p>
            <form action="{% url 'festivalapp:add_review' pk=band.pk %}" method="post" id="review-form">
                {% csrf_token %}
                <p><label for="review">New review here:</label></p>
                <textarea style="height: 110px; width: 230px; resize: none; background-color: #EFEFEF; border-radius: 8px;" name="review" id="review" cols="30" rows="10"></textarea>
                </br>
                <input id="submitreview" type="submit" value="Submit Review">
            </form>
        </li>
    {% endfor %}
    </div>



{% endblock %}
