{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

    <div style=" display: flex;">
    <div style=" display: flex; margin-left:auto; margin-right: auto;">
        <div style="width: 160px;">
            <div class="labels123">Konsert:</div></br>
            <hr>
            <div class="labels123">Sjanger:</div></br>
            <hr>
            <div class="labels123">Dato:</div></br>
            <hr>
            <div class="labels123">Scene:</div></br>
            <hr>
            <div class="labels123">Pris:</div></br>
            <hr>
            <div class="labels123">Start tid:</div></br>
            <hr>
            <div class="labels123">Slutt tid:</div></br>
            <hr>
        </div>


        <div style="text-align: left; width: 160px;">
            <form method="post" class="form">
            {% csrf_token %}

            <div class="stylingselect2"> {{ booking_form.name }}  </div></br><hr>

            <div class="stylingselect1" > {{ booking_form.genre }} </div><br><hr>
            <div class="stylingselect2" > {{ booking_form.date }}  </div><br><hr>
            <div class="stylingselect1" > {{ booking_form.scene }} </div><br><hr>
            <div class="stylingselect2" > {{ booking_form.price }} </div><br><hr>
                <div class="stylingselect2"> {{ booking_form.start_time }} </div><br><hr>
            <div class="stylingselect2"> {{ booking_form.end_time }} </div><br><hr>
            <div class="stylingselect3 "> <input type="submit" value="Registrer konserttilbud"> </div>

            </form>
        </div>
    </div>
    </div>

{% endblock %}
