{% extends 'base.html' %}

{%  block content %}
    <p>hallo <br> Du er logget inn som: {{ user }}<3</p>
    {% if concerts %}
        <h2>Konserter:</h2>

        <ul id="list">
            {% for concert in concerts  %}
                {% if user in concert.lightingWork or user in concert.soundWork %}
                    <li>
                        <p>{{ concert.name }}</p>
                        <p>{{ concert.band }}</p>
                        <p>{{ concert.date }}</p>
                        <p>{{ concert.scene }}</p>
                    </li>
                {%  endif %}
            {% endfor %}
        </ul>
    {% else %}
        <h3>
            Du har ingen konserter.
        </h3>
    {% endif %}

{% endblock %}

