{% extends 'blog/base.html' %}

{% block content %}
    {‰if concerts}
        <div class="concert_wrap">
            <h2>Sorter etter:</h2>
            <button type="button" class="concert_button">Datoer</button>
            <button type="button" class="concert_button">Scener</button>

        {% for concert in concerts %}
            <div class="concert">
                <h1><a href="">{{ concert.title }}</a></h1>
                <h2 class="concert_date">
                    {{ concert.date }}
                </h2>
                <div class="concert_info">
                    <p>{{ concert.info|linebreaksbr }}</p>
                </div>
            </div>
        {% endfor %}

        </div>

    {%else}
        <p>There are no upcoming concerts! :-(</p>

{% endblock %}
