{% extends 'base.html' %}

{% block content %}

    <p>Status er: {{ emp.employee_status }}</p>

    {% if emp.employee_status == 'manager' %}
        <br>Ditt band sine konserter:

        <h2>Konserter:</h2>
    {% endif %}

    {% if emp.employee_status == 'sound_technician' or emp.employee_status == 'light_technician' %}

        <ul id="list">
            <p>Dette er konsertene du skal jobbe med</p>
            {% for concert in concerts %}
                <li class="concert_element">
                    <p>{{ concert.name }}</p>
                    <p>{{ concert.band }}</p>
                    <p>{{ concert.date }}</p>
                    <p>{{ concert.scene }}</p>
                    <button type="button" class="button" onclick='concert_button({{ forloop.counter }})'>Mer info
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="modal_{{ forloop.counter }}">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <button onclick="myFunction({{ forloop.counter }})" class="close">&times;</button>

                            <p>{{ concert.name }}</p>
                            <p>{{ concert.band }}</p>
                            <p>{{ concert.date }}</p>
                            <p>{{ concert.scene }}</p>
                            <p>Mye mer info om konserten (info om bandet, teknisk hjelp, tekniske behov, billettpriser
                                etc.)</p>
                        </div>
                    </div>
                </li>

            {% endfor %}

            {% elif emp.employee_status == 'arranger' or emp.employee_status == 'manager' %}

            {% for concert in concerts %}
                <li class="concert_element">
                    <p>Konsertnavn: {{ concert.name }}</p>
                    <p>Band: {{ concert.band }}</p>
                    <p>Dato: {{ concert.date }}</p>
                    <p>Scene: {{ concert.scene }}</p>
                    <p>Festival: {{ concert.festival }}</p>

                    <!-- The Modal -->
                    <div class="modal" id="modal_{{ forloop.counter }}">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <button onclick="myFunction({{ forloop.counter }})" class="close">&times;</button>

                            <p>{{ concert.name }}</p>
                            <p>{{ concert.band }}</p>
                            <p>{{ concert.date }}</p>
                            <p>{{ concert.scene }}</p>
                            <h3>LYS:</h3>

                            <ul>
                                {% for lys in concert.lightingWork.all %}
                                    <li><p>{{ lys }}</p></li>
                                {% endfor %}
                            </ul>
                            <h3>LYD:</h3>
                            <ul>
                                {% for lyd in concert.soundWork.all %}
                                    <li><p>{{ lyd }}</p></li>
                                {% endfor %}
                            </ul>
                            <p>Mye mer info om konserten (info om bandet, teknisk hjelp, tekniske behov, billettpriser
                                etc.)</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
            {% elif emp.employee_status == 'booking_responsible' %}

            {% for concert in concerts %}
                <li class="concert_element">
                    <p>{{ concert.name }}</p>
                    <p>{{ concert.band }}</p>
                    <p>{{ concert.date }}</p>
                    <p>{{ concert.scene }}</p>
                    <p>{{ concert.audience }}</p>
                    <form action="{% url 'festivalapp:set_audience' pk=concert.pk %}" method="POST">
                        {% csrf_token %}
                        Set Audience:
                        <input type="number" name="audience" id="audience">
                        <input type="submit" value="Set Audience">
                    </form>

                    <button type="button" class="button" onclick='concert_button({{ forloop.counter }})'>Mer info
                    </button>

                    <!-- The Modal -->
                    <div class="modal" id="modal_{{ forloop.counter }}">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <button onclick="myFunction({{ forloop.counter }})" class="close">&times;</button>

                            <p>{{ concert.name }}</p>
                            <p>{{ concert.band }}</p>
                            <p>{{ concert.date }}</p>
                            <p>{{ concert.scene }}</p>
                            <h3>LYS:</h3>

                            <ul>
                                {% for lys in concert.lightingWork.all %}
                                    <li><p>{{ lys }}</p></li>
                                {% endfor %}
                            </ul>
                            <h3>LYD:</h3>
                            <ul>
                                {% for lyd in concert.soundWork.all %}
                                    <li><p>{{ lyd }}</p></li>
                                {% endfor %}
                            </ul>
                            <p>Mye mer info om konserten (info om bandet, teknisk hjelp, tekniske behov, billettpriser
                                etc.)</p>
                            <div class="modal-content">
                                <button onclick="myFunction({{ forloop.counter }})" class="close">&times;</button>

                                <p>Konsertnavn: {{ concert.name }}</p>
                                <p>Band: {{ concert.band }}</p>
                                <p>Dato: {{ concert.date }}</p>
                                <p>Scene: {{ concert.scene }}</p>
                                <p>Festival: {{ concert.festival }}</p>

                                <h3>LYS:</h3>

                                <ul>
                                    {% for lys in concert.lighting_work.all %}
                                        <li><p>{{ lys }}</p></li>
                                    {% endfor %}
                                </ul>
                                <h3>LYD:</h3>
                                <ul>
                                    {% for lyd in concert.sound_work.all %}
                                        <li><p>{{ lyd }}</p></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
