{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

    Band: {{ band.name }}
    <br>
    Manager: {{ band.manager }}


    <form method="post">
        {% csrf_token %}
        {% bootstrap_form manager_form %}
        <input type="submit" value="Submit">
    </form>
    
    <h1>SET EXPERIENCE</h1>
    <form action="{% url 'festivalapp:set_exp' pk=band.pk %}">
        <label for="sold_albums">Sold Albums: </label>
        <input type="number" id="sold_albums" name="sold_albums">
        <label for="former_concerts">Former Concerts: </label>
        <input type="number" id="former_concerts" name="former_concerts">
    </form>

{% endblock %}
