body {
    background-color: #BDBDBD;
    margin: 0;
}

/* ------------ MENY START ------------------------------- */

#meny {
    display: flex;
    height: 80px;
    flex-basis: 100%;
    background-color: #616161;
}

div.menu {
    box-sizing: border-box;
    height: 80px;
    min-width: 150px;
    background-color: #616161;
    flex-basis: 20%;
}

div.box {
    text-align: center;
}

div.menu:hover {
    box-sizing: border-box;
    border: 1px;
    border-style: solid;
    border-color: lightgrey;
}

#tomboks {
    box-sizing: border-box;
    height: 80px;
    min-width: 150px;
    background-color: #616161;
    flex-basis: 20%;
}

/* ------------ MENY FERDIG-------------------------------- */

/* ------------ Start av banner --------------------------- */
#banner {
    background-color: #000000;
    height: 100px;
    padding: 15px;
    display: flex;

}

#bannerbilde {
    flex-basis: 65%;
}

#loggedin {
    flex-basis: 25%;
    background-color: #323232;
    color: white;
    border-radius: 10px;
    font-size: 0.75em;

}

#login {
    margin-right: 10px;
    margin-left: 10px;
}

div.konto {
    flex-basis: 10%;
    min-height: 70px;
    color: white;
    min-width: 150px;
    background-color: #323232;
    border-radius: 10px;
}

#logout {
    margin-left: 15px;
    padding-top: 8px;
    flex-basis: 10%;
}

.logout:visited {
    color: white;
}

/* ------------ Ferdig med banner ------------------------- */

/* ------------ Start med content ------------------------- */

#content {
    margin: 15px auto;
    height: auto;
    max-width: 60em;
}

/*-- content: Concert_list --*/

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.concert_element {
    position: relative;
    padding: 4%;
    min-width: 60%;
    border-style: solid;
    border-color: #666666;
    margin: 20px;
    background-color: #9B9B9B;
}

.concert_element > p {
    text-align: center;
    min-height: 10px;
}

.concert_element > p :empty {
    display: none;
}

.concertcontainer1 {
    width: 50%;
    float: left;

}

#submitreview {
    margin-top: 20px;
    display: inline-block;
    width: 105px;
    cursor: pointer;
}

.concert_element2 {
    position: relative;
    padding: 5%;
    min-width: 60%;
    border-style: solid;
    border-color: #666666;
    margin: 20px;
    background-color: #9B9B9B;
}

.concert_element2 > p {
    text-align: center;
    min-height: 10px;
}

.concert_element2 > p :empty {
    display: none;
}

table {
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

tr {
    font-size: 17px;
    border-bottom: 1px solid black;
}

th, td {
    padding: 10px;
    width: 160px;
}

th {
    font-size: 20px;
}

/*-- Ferdig med Concert_list --*/

/*--------- Concert Modal -------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-bottom: 20px;

}

.modal-content {
    margin: 15px auto;
    margin-top: 10%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: #BDBDBD;
    max-height: 80%;
    overflow: auto;

}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: lightgrey;
    border: 2px solid #424242;
}

.button:hover {
    background-color: #616161;
    color: white;
}

.atext {
    text-decoration: none;
    color: white
}

/*--------- Ferdig Concert Modal -------*/

.con {
    display: none;

    position: relative;
    padding: 5%;
    flex-basis: 100%;
    border-style: solid;
    border-color: #666666;
    margin: 20px;
    background-color: #9B9B9B;
}

/* ------------ Ferdig med content ------------------------- */

/* Forms */


#searchgreie1 {
    margin-top: 0px;
    border-radius: 3px;
    height: 30px;
    width: 170px;
    border-style: solid;
    border: 1px;
    box-sizing: border-box;
    font-size: 15px;
}

#searchboks {
    margin: 25px 10px 11px 10px;
    height: 40px;

}

#searchform {
    height: 40px;

}

#searchknapp {
    font-size: 15px;
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid;
    border-color: grey;
    background-color: #EEEEEE;
    padding: 5px;

}

/* Ferdig Forms */

/*Booking form*/

.stylingselect1 select {
    width: 135px;
    font-size: 18px;
    margin: 0px 0px 1px 0px;
    background: #EEEEEE;
    margin-bottom: 2px;
}

.stylingselect2 input {
    width: 135px;
    font-size: 18px;
    margin: 1px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #EEEEEE;
    color: black;
    padding: 4px;
    box-sizing: border-box;
    font-size: 16px;
    height: 29px;
}

.labels123 {
    width: 150px;
    text-align: right;
    margin-right: 6px;
    font-size: 25px;

}
/*Ferdig booking form*/


