body {
	background-color: #E0F2F1;
	margin: 0;
}

/* ------------ MENY START ------------------------------- */
#menylinje
{
    display : flex;
}

#meny {
	display: flex;
	flex-basis: 90%;
}

div.menu {
	min-height : 70px;
    min-width : 150px;
	background-color: #80CBC4;
	flex-basis: 25%;
}

div.box {
  border-color: lightgrey;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  text-align: center;
}


/* ------------ Start kontodelen av menyen ----------------- */

div.konto {
	flex-basis: 12.5%;
	background-color: #80CBC4;
}

/* ------------ Ferdig med kontodelen av menyen ------------ */

/* ------------ Start med loggedin ------------------------- */

#loggedin {
	flex-basis: 20%;
	background-color: #80CBC4;

}

/* ------------ Ferdig med loggedin ----------------------- */

/* ------------ MENY FERDIG-------------------------------- */



/* ------------ Start av banner --------------------------- */
#banner {

	background-color: #00796B;
	min-height: 150px;
	padding:20px;

	font-size: 70px;
	text-align: center;
	box-sizing: border-box;

}

/* ------------ Ferdig med banner ------------------------- */

/* ------------ Start med content ------------------------- */

#content
{
	margin: 2% 2% 2% 2%;
    height: auto;
    flex-basis : 100%;
    background-color: #B2DFDB;
    height: auto;
}

/* ------------ Ferdig med content ------------------------- */

/* ------------ Start med @media kode ------------------------- */

@media (max-width : 800px)
{
    #block1{
        flex-basis : 100%;
    }
    #block2, #block3, #block4, #block5{
        flex-basis : 50%;
    }
}

@media (max-width : 600px)
{
    #block1,#block2,#block3,#block4,#block5
    {
        flex-basis : 100%;
    }
}

/* ------------ Ferdig med @media kode ------------------------- */
