<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<!-- BANNER START -->

<div id="banner">

    <div id="bannerbilde">
        <a href="{% url 'festivalapp:index' %}"><img src="{% static 'img/Banner.png' %}" style="width: 100%; height: 100%; " alt="Bannerbilde"></a>
    </div>

    {% if user %}

        <div id="loggedin" class="box konto">
            <h1>LOGGET INN SOM: {{ user }}</h1>
            <h1>{{ emp.employee_status }}</h1>
        </div>
        <div class="box konto" id="konto">
            <h1>KONTO </h1>
        </div>
        <div class="box konto" id="logout">
            <h1><a class="logout" href="{% url 'festivalapp:logout' %}" style="text-decoration: none;">Logg ut</a></h1>
        </div>
    {% else %}
        <div class="box konto" id="login">
            <h1><a href="{% url 'festivalapp:login' %}">Logg inn</a></h1>
        </div>
    {% endif %}


</div>

<!-- BANNER SLUTT -->

<!-- MENY START -->

<div id="meny">

    <div class="menu box">
        {% if emp.employee_status == 'manager' %}
            <h1>
                <a href="{% url 'festivalapp:manager' %}">Manager page</a>
            </h1>
        {% elif emp.employee_status == 'booking_responsible' %}
            <h1>
                <a href="{% url 'festivalapp:booking_responsible' %}">Bookingansvarlig page</a>
            </h1>
        {% endif %}
    </div>


</div>

<!-- MENY SLUTT -->

<div class="container box" id="content">
    {% block content %}
    {% endblock %}
</div>

<script src="{% static 'js/base.js' %}"></script>
</body>
</html>
