<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="5;url=http://127.0.0.1:8000/festivalapp/login/">
    <title>Invalid Login</title>
    <link rel="stylesheet" href="{% static 'css/invalid.css' %}">
</head>
<body>
<div align="center" class="container">
    <h1 class="invalid text">INVALID CREDENTIALS! REDIRECTING IN </h1>
    <h1 id="timer" class="invalid timer"></h1>
</div>
<script src="{% static 'js/timer.js' %}"></script>
</body>
</html>