<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginstyle.css' %}">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<div class="velkommenbox">Velkommen til festivalsiden!</div>
<div class="login-page">


  <div class="form">
    <form action="{% url 'festivalapp:login' %}" method="post" class="login-form">
      {% csrf_token %}
      <input type="text" name="username" placeholder="brukernavn"/>
      <input type="password" name="password" placeholder="passord"/>
      <input type="submit" value="Submit" class="button"/>
    </form>
  </div>
</div>

</body>
</html>
